@import "tailwindcss";

@theme {
  --font-family: "Rubik", "sans-serif";

  --color-Blue: #5267df;
  --color-Orange: #fa5959;
  --color-Black: #242a45;
  --color-Grey: #9194a2;
  --color-BlueSecond: #495dcf;
}

@layer components {
  .NavList {
    @apply border-t-[1px] border-white/15 py-6 font-normal;
  }

  .dropShadow {
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2001);
  }

  .dropShadowExtenstionCard {
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2001);
  }
}

@layer base {
  h2 {
    color: var(--color-Black);
    font-size: 1.5rem;
    line-height: 3.25rem;
    font-weight: 500;
    letter-spacing: -0.08px;
  }

  p {
    color: var(--color-Black);
    font-size: 0.94rem;
    line-height: 1.56rem;
    opacity: 0.5;
    font-weight: 400;
    letter-spacing: 0;
  }
}
